Repository anmol098/waka-readme-stats, pull requests merged in 2023-03, with the labels that each got.

#404 GitHub object not found error fixed
  sources/manager_github.py
Labels: bug

#396 Create dependabot.yml
  .github/dependabot.yml
Labels: enhancement, dependencies

#391 Create .github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: enhancement, dependencies

#402 Retries added to GitHub GraphQL API requests
  sources/manager_download.py
Labels: bug, enhancement, help wanted

#415 Set dependency-review to only check PRs
  .github/workflows/dependency-review.yml
Labels: enhancement

#419 Enable pip caching in CI
  .github/workflows/ci.yml
Labels: enhancement

#387 Enable CodeQL in this repository
  .github/workflows/codeql.yml
Labels: enhancement

#422 Upgrade Python to 3.11
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/codestyle.yml
  Dockerfile
Labels: enhancement, docker

#424 Git installation added to dockerfile
  Dockerfile
Labels: bug

#436 Sleep added between API commit request calls
  sources/yearly_commit_calculator.py
Labels: bug

#435 Chart file is being copied properly
  sources/manager_github.py
Labels: bug

#438 Fix: color doesnt exist error
  sources/graphics_chart_drawer.py
Labels: bug
